/* RGB */
$text-dark: rgba(1, 22, 39, 1);
$text-light: rgb(246, 248, 245);
$ascent: rgba(46, 196, 182, 1);
$secondary: rgb(82, 42, 175);
$primary: rgba(255, 159, 28, 1);

$base-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;